
#container {
	width: 710px;
}

#container > div {
	width: 100px;
	height: 100px;
	margin: 5px;
	float: left;
}

.blue {
	background: blue;
}

.green {
	background: green;
}

.yellow {
	background: yellow;
}

.purple {
	background: purple;
}

.red {
	background: red;
}