
body {
	padding-top: 100px;
	background-color:#e6f7ff;
}

.navbar.navbar-default.navbar-fixed-top {

	color: white;
	background-color: #00334d;
}

.collapse.navbar-collapse {

	color: white;
	background-color: #00334d;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-brand:hover {
	color: #3BC7F5;
}


.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #3BC7F5;
}

.btn-info {
	background-color: #29728A;
	border-color: #29728A;
}

.btn-info:hover {
	background-color: #309CBF;
	border-color: #309CBF;
}

.form-control {
	color: #53C6E0;
}

.form-control:hover {
	color: red;
}

a {
	color: #00334d;
}